<!DOCTYPE html>
<html>
<head>
    <title>Joaquin</title>
    <link rel="stylesheet" href="Lab3.css">
    <h1>Joaquin Zermeno</h1>
    <h4>A01610399</h4>
    <h4>A01610399@itesm.mx</h4>
</head>
    <hr/>
    <body>
    <h3 class="subtitulos">Hobbys y Gustos</h3>
    <p class="centrado"><strong>La musica</strong> es uno de mis hobbys principales,
    tanto escucharla como estudiar acerca de ella. <br/> <br/>
    <strong>El alpinismo</strong> es otro de mis hobbys, siempre me
    ha gustado explorar y caminar. <br/> <br/>
    Mi banda favorita es radiohead <br/> <br/>
    Mi deporte favorito son las carreras <br/>
    </p>
    <p class="centrado">
        <label>
            Que tanto te gusta la musica: 0
            <input type="range" min="0" max="10" value="0">
            10
        </label>
    </p>
    <hr/> 
    <h3 class="subtitulos">Preguntas a responder</h3>
    <ul>
        <li><strong>¿Qué beneficios encuentras en el estilo MVC?</strong></br>
            Es muy dinamico y facil de entender, ademas ayuda a mantener archivos cortos y sencillos.
        </li>
        <li><strong>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</strong></br>
            Es un poco dificil de adaptarse al principio.
        </li>
    </ul>
    </body>
</html>
