<%- include('partials/head.ejs') %>
<main class="container">
<h3>Ingesa una cancion que te guste</h3>
</br>
<form action="agregar" method="POST">
    <div>
        <div class="col s4 m6"><input type="text" placeholder = "Titulo de la cancion" name="nombre"></div>
        <div class="col s4 m6"><button class="btn waves-effect waves-light" type="submit" name="action">Guardar cancion</button></div>
    </div>
</form>
</main>
<script src="materialize/js/materialize.min.js"></script>
</body>